*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
/* banner */

#banner-container{
	background-color: #262626;
	color: white !important;
	padding-top: 80px;
	padding-bottom: 80px;

}

#banner-row img{
	max-width: 70%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row h2, p,h3{
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}

#banner-row a{
	background-color: white !important;
	/* color: #262626 !important; */
	border: none;
	margin-left: 20px;
	margin-top: 20px;

}
#banner-col{
	padding-left: 20px;
}
/* service */
#service{
	padding-top: 80px;
	padding-bottom: 80px;
}

.box{
  height: 50px

}
#contactusbutton{
  margin-top: 50px;
  height: 40px;
}

#submitButton{
  height: 40px;
  width: 150px;
}

.box1{
  margin-left: 50px;

}

#service h1{
	padding-bottom: 70px;
}

/* about */

#about{
	padding-top: 80px;
	padding-bottom: 80px;
}

#about h1{
	padding-bottom: 70px;
}

#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
}

#about-col ul li{
	padding-top: 15px;

}

/* product */

#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}

#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}

/* social */

#social{
	padding-top: 80px;
	padding-bottom: 80px;
}

#social h1{
	padding-bottom: 70px;
}

.social-col a:hover img{
transform: translateY(-10px);
}

#social-row{
	flex-direction: row;
}

/* footer */

.mb-3{
padding-top: 10px;
}


/* media */
@media only screen and (max-width: 987px){
	.navbar-brand{
		padding-left: 0px;
	}
}

@media only screen and (max-width: 768px){
	#banner-row img{
		padding-top: 20px;
	}

.social-col{
	width: 33%;
}

}
.btn{
	background-color: blueviolet;
}



/* // general */

/* body {
	font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 3vh;
} */

/* // header */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

/* // hero */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: blueviolet;
	background: url('../../../assets/img/bannerimg.jpg') center center no-repeat;
	background-size: cover;
}
#heroid{
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	background: url(https://images.unsplash.com/photo-1632685062337-095b722134ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80) center center no-repeat;
	background-size: cover;
}

#titlesection{
  margin-bottom: 350px;
  margin-left: 180px;
}

.hero-title {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: bold;
	line-height: .9;
  /*  */
}

.hero-message {
	font-weight: bold;
}



	@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }

  #bookbutton{
    margin-left: 400px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  #bookbutton1{
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 400px;
    padding-right: 400px;
  }

  #footer{
	background-color: rgb(182, 93, 220);
  }

  .container-fluid{
	 font-weight: bold;
  }
