<body *ngIf="isRole()">


    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" >
                  <span data-feather="home"></span>
                  Admin Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="orders">
                  <span data-feather="orders"></span>
                 All Invoices
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="services">
                  <span data-feather="servives"></span>
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="allUsers">
                  <span data-feather="allUsers"></span>
                  All Users
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="washersList">
                  <span data-feather="cars"></span>
                  All Washers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="cars">
                  <span data-feather="cars"></span>
                  Cars
                </a>
              </li>
            </ul>
          </div>
        </nav>
  
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
            </h1>
  
            <h1>Welcome, {{fullNames}}</h1>
             </div>
  
             <div class="col-sm-10 main">
  
              <h2 class="sub-header">All Delivered Orders</h2>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Customer Name</th>
                      <th>Phone Number</th>
                      <th>Status</th>
                      <th>Payment Status</th>
                      <th>Total Cost</th>
                      <th>Action</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let item of requests">
                      <td>{{item.customerName}}</td>
                      <td>{{item.phoneNumber}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.paymentStatus}}</td>
                      <td>{{item.totalCost}}</td>
                      <td><button class="btn btn-success" routerLink="orderDetails" (click)="populate(item)">View Order Details</button>
                      </td>
  
  
                    </tr>
  
                  </tbody>
                </table>
              </div>
            </div>
  
        </main>
      </div>
    </div>
  </body>
  