<div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">UserId</th>
          <th scope="col">User Name</th>
          <th scope="col">Full Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
          <th scope="col">Rating</th>
          <!-- <th scope="col">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users">
          <th scope="row">{{item.userId}}</th>
          <th scope="row">{{item.email}}</th>
          <td>{{item.firstName+" "+item.lastName}}</td>
  
          <td>{{item.phoneNumber}}</td>
          <td>{{item.status}}</td>
          <td>{{item.ratingsOfWasher}}</td>
  
         <td>
          <!-- <button type="button" class="btn btn-secondary"  (click)="deletingUser(item.userId)">Delete</button> -->
          </td>
        </tr>
      </tbody>
    </table>
  
   </div>
  