
<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a routerLink="home" >QuicknClean Car Wash</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a (click)="isRole()" *ngIf="isLoggedIn()" >Dashboard</a>
          </li>
          <li>
            <a routerLink="home" >Home</a>
          </li>
          <li>
            <a *ngIf="isLoggedIn()" routerLink="home/selectpackage">Book</a>
          </li>
          <li>
            <a href="#service">Services</a>
          </li>
          <!-- <li>
            <a routerLink="contact">Contact Us</a>
          </li> -->
          <li>
            <a *ngIf="!isLoggedIn()" routerLink="login">Login</a>
          </li>
          <li>
            <a *ngIf="isLoggedIn()" (click)="logout()" >Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  
  