.order-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .order-card h3 {
    margin-top: 0;
  }
  
  .order-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  #editbutton{
    margin-right: 20px;
    background-color:rgb(122, 134, 124);
    font-size: 20px;
    padding: 10px 20px;
    padding-left: 300px;
    padding-right: 300px;
  }
  #updatebutton{
    background-color:rgb(122, 134, 124);
    font-size: 20px;
    padding: 10px 20px;
    padding-left: 300px;
    padding-right: 300px;
  }
  #bookbutton1{
    margin-right: 20px;
  }
  #bookbutton3{
    margin-right: 20px;
  }
  